Repository nebius/soperator, pull requests merged in 2025-03, with the labels that each got.

#505 Implement NodeSet CRD
  api/v1alpha1/extra_types.go
  api/v1alpha1/nodeset_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/slurm.nebius.ai_nodeconfigurators.yaml
  config/crd/bases/slurm.nebius.ai_nodesets.yaml
  helm/soperator-crds/templates/slurmcluster-crd.yaml
  helm/soperator/crds/slurmcluster-crd.yaml
Labels: go, helm

#506 504: customisable slurm config
  api/v1/slurmcluster_types.go
  api/v1/zz_generated.deepcopy.go
  config/crd/bases/slurm.nebius.ai_slurmclusters.yaml
  helm/soperator-crds/templates/slurmcluster-crd.yaml
  helm/soperator/crds/slurmcluster-crd.yaml
  internal/consts/configmap.go
  internal/consts/slurm.go
  internal/render/common/configmap.go
  internal/render/utils/config.go
  internal/values/slurm_cluster.go
Labels: go, feature

#512 add Slurm topology config support
  api/v1/slurmcluster_types.go
  config/crd/bases/slurm.nebius.ai_slurmclusters.yaml
  helm/soperator-crds/templates/slurmcluster-crd.yaml
  helm/soperator/crds/slurmcluster-crd.yaml
  images/accounting/slurmdbd_entrypoint.sh
  internal/consts/configmap.go
  internal/consts/volume.go
  internal/controller/clustercontroller/accounting.go
  internal/controller/clustercontroller/benchmark.go
  internal/controller/clustercontroller/common.go
  internal/controller/clustercontroller/controller.go
  internal/controller/clustercontroller/login.go
  internal/controller/clustercontroller/reconcile.go
  internal/controller/clustercontroller/worker.go
  internal/render/accounting/container.go
  internal/render/accounting/deployment.go
  internal/render/accounting/deployment_test.go
  internal/render/accounting/pod.go
  internal/render/accounting/pod_test.go
  internal/render/accounting/vars_test.go
  internal/render/accounting/volume.go
  internal/render/accounting/volume_test.go
  internal/render/benchmark/cronjob.go
  internal/render/common/configmap.go
  internal/render/common/configmap_test.go
  internal/render/common/volume.go
  internal/render/controller/statefulset.go
  internal/render/controller/volume.go
  internal/render/login/statefulset.go
  internal/render/login/volume.go
  internal/render/worker/statefulset.go
  internal/render/worker/statefulset_test.go
  internal/render/worker/volume.go
  internal/values/slurm_cluster.go
Labels: go, feature

#525 fix missing column cmd in jail
  images/jail/jail.dockerfile
Labels: bug

#527 Add comment in the beginning of custom_slurm.conf file
  internal/render/common/configmap.go
Labels: bug

#533 #526 Fix bug for cannot stat file /etc/slurm/slurm_rest.conf
  images/restd/slurmrestd.dockerfile
  images/restd/slurmrestd_entrypoint.sh
Labels: bug

#518 Move soperatorchecks to the controllers folder
  Makefile
  cmd/soperatorchecks/main.go
  config/rbac/clustercontroller/role.yaml
  helm/soperator/templates/manager-rbac.yaml
  internal/controller/soperatorchecks/k8s_nodes_controller.go
  internal/controller/soperatorchecks/slurm_nodes_controller.go
  internal/controller/soperatorchecks/slurm_nodes_controller_test.go
  internal/controller/soperatorchecks/soperatorchecks.go
Labels: fix

#575 allow to run one_job for PR from forks
  .github/workflows/one_job.yml
  helm/soperator-crds/templates/slurmcluster-crd.yaml
  helm/soperator/crds/slurmcluster-crd.yaml
Labels: github_actions

#588 bump versions of go 1.24 and controller-runtime 0.20.3
  Dockerfile
  config/crd/bases/slurm.nebius.ai_slurmclusters.yaml
  go.mod
  go.sum
  helm/soperator-crds/templates/slurmcluster-crd.yaml
  helm/soperator/crds/slurmcluster-crd.yaml
  rebooter.dockerfile
  sconfigcontroller.dockerfile
  soperatorchecks.dockerfile
Labels: feature

#590 bump golang version to 1.24 and fix bug with parse of args
  images/worker/gpubench/go.mod
  images/worker/gpubench/main.go
  images/worker/slurmd.dockerfile
Labels: fix

#591 terraform apply/destroy scenario
  .github/workflows/e2e_test.yml
  go.mod
  go.sum
  test/e2e/e2e_test.go
Labels: github_actions, test

#598 use vars instead of secrets, fix syntax
  .github/workflows/e2e_test.yml
Labels: github_actions

#608 source envrc in test step and bypass all envs to terraform
  .github/workflows/e2e_test.yml
  test/e2e/e2e_test.go
Labels: github_actions, test

#609 remove self-hosted label from e2e
  .github/workflows/e2e_test.yml
Labels: github_actions

#610 fix filestore_jail override
  test/e2e/e2e_test.go
Labels: test

#614 fix k8s config path
  test/e2e/e2e_test.go
Labels: test
